body{
    font-family: fantasy;
    color: #000000;
    background-color: rgb(210, 210, 238);
}
#navbar-main{
    width: 100%;
    font-size: 1.5em;
    background-color:rgb(109, 38, 167);
}
.nav-link{
  color: aliceblue;
}
.nav-link:hover{
  color: aquamarine;
  align-items: baseline;
}
.navbar-brand{
  font-size: 2cap;
}
.navbar-brand:hover{
  color: aliceblue
}
#hcontainer{
  top: 300px;
  text-align: center;
  width: 750px;
  height: 750px;
  border-radius: 25px;
  color: aliceblue;
  background-color: darkcyan;
  border-style: double;
  border-width: 0.3em;
  border-color: #000000;
}
#hcontainer img{
  border-radius: 50%;
  margin-top: 41px;
}
#Yr4{
  background-color: darkcyan;
  width: 33%;
  text-align: center;
  float: left;
  color: aliceblue;
  border-radius: 25px;
  font-size: 1.5em;
}
#Yr3{
  background-color: rgb(0, 151, 151);
  width: 33%;
  text-align: center;
  float: left;
  color: aliceblue;
  border-radius: 25px;
  font-size: 1.5em;
}
#Yr2{
  background-color: rgb(0, 163, 163);
  width: 33%;
  text-align: center;
  float: left;
  color: aliceblue;
  border-radius: 25px;
  font-size: 1.5em;
}
/* #Yr1{
  background-color: rgb(0, 175, 175);
  width: 25%;
  text-align: center;
  float: left;
  color: aliceblue;
  border-radius: 25px;
  font-size: 1.5em;
} */
#pcontainer{
  background-color: rgb(0, 127, 127);
  width: 465px;
  height: 255px;
  text-align: center;
}
#pcontainer img{
  margin-top: 5px;
}
.modal{
  display: none;
  position: fixed;
  top: 565px;
  left: 515px;
  width: 25%;
  height: 20%;
  overflow: auto;
  font-size: 1.3em;
  text-align: center;
  background-color: #000000;
  color: rgb(210, 210, 238);
  z-index: 9999;
  animation: animate-zoom 0.3s ease;
}
.close{
  float: right;
  font-size: 1.2em;
}
.close:hover{
  color: aquamarine;
}
@keyframes animate-zoom{
  from { transform: scale(0.6); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.fade{
  animation-name: fade;
  animation-duration: 4s;
}
@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}